= stylesheet_link_tag 'select2/select2'
= javascript_include_tag 'select2/select2'

%input#c_type{:type => 'hidden', :value => "video"}
- if (@leaf_data['path'] != "#")
  %iframe{id: "language" ,allowfullscreen: "", frameborder: "0", height: "400", mozallowfullscreen: "", src: "#{@leaf_data['path']}?title=0&byline=0&portrait=0", webkitallowfullscreen: "", width: "100%", align: "#{@leaf_data['align']}", scrolling: "no"}
-else 
  %h2.text-center
    Coming soon......  

:javascript
  $(document).ready(function() { $("#lang").select2(); });
  $("#lang").change(function(){
    if(this.value == 'english'){
      document.getElementById('language').src = "#{@leaf_data['path']}";
    }else{
      document.getElementById('language').src = "#{@leaf_data['arabic']}";
    }
  });
